.header{
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
button{
    background-color: #fff;
    border: 0px;
    padding: 0px;
}
a {
   text-decoration:none;
    color:none;
}
p{
    margin: auto;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 0 0 ;
    line-height: 20px;
}
.privacy{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.gmail{
    margin: 8px 0px 0 0;
}
.image{
    margin: 8px;
}
.gmail a, .image a{
    color: #646464;
    font-size: 13px;
}
.gmail a:hover, .image a:hover{
    color: #646464;
    text-decoration: underline #646464;
}
.menu{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
    background-image: url(./img/apps.png);
}
.menu:hover{
    background-image: url(./img/apps_hover.png);
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(./img/profile.PNG) center no-repeat;
    background-size: 50px auto;
    margin: auto 0 ;
    margin-left: 10px;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 170px 0 40px 0;
}
.search_space{
    display: flex;
    justify-content: center;
    border: 1px solid #d5d5d5;
    border-radius: 50px;
    width: 570px;
    padding: 6px 10px;
    margin: 0 auto 25px;
}
.search_space:hover{
    border: 1px solid white;
    box-shadow: 0px 1px 5px rgba(148, 148, 148, 0.4);
}
.sr_ic{
    width: 27px;
    height: 27px;
    margin-top: 5px;
    margin-right: 10px;
}
.input_search{
    width: 450px;
    border: 0px;
    outline: none;
    font-size: 16px;
    padding: 0px;
}
.keyboard_ic{
    margin-top: 6px;
}
.mic_ic{
    width: 27px;
    height: auto;
    margin-top: 2px;
}


/*.input_search{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
input[type=text] {
    width: 600px;
    font-size: 15px;
    padding: 13px 20px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    border-radius: 30px;
    outline: none;
  }
  input[type=text]:hover{
    width: 600px;
    font-size: 15px;
    padding: 13px 20px;
    border-radius: 30px;
    outline: none;
    border: 1px solid white;
    box-shadow: 0px 1px 5px rgba(148, 148, 148, 0.4);
  }*/


  .banner_space{
      display: flex;
      justify-content: center;
  }
  .search_btn{
      box-sizing: border-box;
      padding: 0px 17px;
      font-size: 15px;
      text-align: center;
      line-height: 36px;
      margin-right: 5px;
      border: 1px solid #f1f1f1;
      color: #5f5f5f;
      background-color: #f1f1f1;
      border-radius: 5px;
  }
  .search_btn:hover{
      box-sizing: border-box;
      color: black;
      border: 1px solid rgb(187, 187, 187);
      box-shadow: 0px 1px 2px rgba(187, 187, 187, 0.5);
 }
 .search_btn:active{
    box-sizing: border-box;
    color: black;
    border: 1px solid rgb(57, 126, 255);
    box-shadow: black 2px;
}
  .logo_achive{
     padding: 0px 17px;
     font-size: 15px;
     text-align: center;
     line-height: 36px;
     margin-left: 5px;
     color: #5f5f5f;
     border: 1px solid #f1f1f1;
     background-color: #f1f1f1;
     border-radius: 5px;
  }
  .logo_achive:hover{
    box-sizing: border-box;
    color: black;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0px 1px 2px rgba(187, 187, 187, 0.5);
}
 .logo_achive:active{
   box-sizing: border-box;
   color: black;
   border: 1px solid rgb(57, 126, 255);
   box-shadow: black 2px;
 }

 .footer{
    margin-top: auto;
 }
 .first_footer{
    line-height: 30px;
    background-color: #f1f1f1;
    color: rgb(148, 148, 148);
    padding: 4px 30px;
    font-size: 14px;
    border-top: 1px solid #d5d5d5;
}
.second_footer{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 4px 30px;
    border-top: 1px solid #d5d5d5;
}
.second_footer a{
    color: #646464;
    line-height: 36px;
    font-size: 14px;
}
.second_footer a:hover{
    text-decoration: underline #646464;
}
.left_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.right_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
}